.ItemMenu{
    font-size: 15px;
    color: #fff;
}
.ItemMenu i{
    font-size: inherit;
}
.ItemMenu button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: inherit;
}